.emoji-firework {
    position: absolute;
    pointer-events: none;
}

  
.emoji {
  position: absolute;
  opacity: 0;
  font-size: 80px;
}


.emoji-firework .emoji:nth-child(1) {
  animation: boom-1 1s;
}
.emoji-firework  .emoji:nth-child(2) {
  animation: boom-2 1s;
}
.emoji-firework  .emoji:nth-child(3) {
  animation: boom-3 1s;
}
.emoji-firework  .emoji:nth-child(4) {
  animation: boom-4 1s;
}
.emoji-firework  .emoji:nth-child(5) {
  animation: boom-5 1s;
}
.emoji-firework  .emoji:nth-child(6) {
  animation: boom-6 1s;
}
.emoji-firework  .emoji:nth-child(7) {
  animation: boom-7 1s;
}
.emoji-firework  .emoji:nth-child(8) {
  animation: boom-8 1s;
}
.emoji-firework  .emoji:nth-child(9) {
  animation: boom-9 1s;
}
.emoji-firework  .emoji:nth-child(10) {
  animation: boom-10 1s;
}

@keyframes boom-1 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(550px, -360px) rotate(294deg);
  }
}
@keyframes boom-2 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(870px, 550px) rotate(150deg);
  }
}
@keyframes boom-3 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-580px, -90px) rotate(44deg);
  }
}
@keyframes boom-4 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-80px, -400px) rotate(119deg);
  }
}
@keyframes boom-5 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(60px, -400px) rotate(260deg);
  }
}
@keyframes boom-6 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(30px, -440px) rotate(141deg);
  }
}
@keyframes boom-7 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-710px, 80px) rotate(214deg);
  }
}
@keyframes boom-8 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-820px, 720px) rotate(399deg);
  }
}
@keyframes boom-9 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(400px, -590px) rotate(51deg);
  }
}
@keyframes boom-10 {
  0% {
    transform: translate(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-160px, 760px) rotate(192deg);
  }
}
