html{
    margin: 0;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.container{
    /* width: 768px;
    height: 1024px; */
    width: 100%;
    height: 100%;
    /* background-color: #F0F0F0; */
    position: relative;
    
}

.p5Canvas{
    position: absolute;
    left: 0;
    top: 0;
}