*{
    -moz-user-select: none;
    -webkit-user-select: none; 
}

body, html{
    margin: 0;
    width: 100%;
    height: 100%;
}

.container{
    /* width: 768px;
    height: 1024px; */
    width: 100%;
    height: 100%;
    background-color: #F4C0C9;
    position: relative;
}


.touch{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: red;
    width: 400px;
    height: 500px;
    opacity: 0;
}