*{
    -moz-user-select: none;
    -webkit-user-select: none; 
}

body, html{
    margin: 0;
    width: 100%;
    height: 100%;
}


.container{
    /* width: 768px;
    height: 1024px; */
    width: 100%;
    height: 100%;
    background-color: #009ACE;
    position: relative;
}

.title{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0;
    pointer-events: none;
    z-index: 10;
}

.black{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    pointer-events: none;
    z-index: 8;
    background-color: black;
    opacity: 0;
}