html{
    margin: 0;
}

body{
    /* width: 768px;
    height: 1024px; */
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #251F44;
    position: relative;
    overflow: hidden;
    z-index: 3;
}


.position{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    opacity: 0.5;
}

.effect{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: url(./images/effect.png);
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: 0;
}

.bg{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}

.pongA{
    width: 59%;
    height: auto;
    position: absolute;
    top: -7%;
    left: 0%;
    z-index: 2;
}

.pongB{
    position: absolute;
    width: 59%;
    height: auto;
    bottom: -9%;
    right: 2%;
    z-index: 2;
}

.t{
    position: absolute;
    width: 27%;
    height: auto;
    bottom: 14.5%;
    left: 3%;
    z-index: 2;
}

.s{
    position: absolute;
    width: 54%;
    height: auto;
    top: 29%;
    left: 24%;
    z-index: 3;
}

.s1A{
    position: absolute;
    width: 15%;
    height: auto;
    top: 2%;
    right: 2%;
    z-index: 2;
}

.s1B{
    position: absolute;
    width: 15%;
    height: auto;
    bottom: 2%;
    left: 2%;
    z-index: 2;
}

.blue-rect{
    position: absolute;
    background-color: #D3DBFF;
    width: 50px;
    height: 50px;
    z-index: 2;
}


#br1{
    width: 3%;
    height: 9%;
    top: 53%;
    left: 26%;
}

#br2{
    width: 18%;
    height: 3%;
    top: 77.5%;
    left: 41%;
}

#br3{
    width: 4%;
    height: 3%;
    top: 38.5%;
    left: 34%;
}

#br4{
    width: 4%;
    height: 3%;
    top: 23.5%;
    left: 68%;
}

.circle{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #FE91CA;
    width: 4%;
    height: 3%;
    border-radius: 100%;
}

.mouse-circle{
    width: 0;
    height: 0;
    background-color: #fff;
    mix-blend-mode: difference;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    border-radius: 100%;
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%);
}

.rotate-1{
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.rotate-2{
    animation-name: rotate-2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.collideEffect{
    width: 200px;
    height: 200px;
    background-color: red;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    border-radius: 100%;
    mix-blend-mode: color-burn;
}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rotate-2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

