html, body{
    margin: 0;
    width: 100%;
    /* height: 100%; */
    /* background-color: #000; */
    background-color: #5DE8D2;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
}

.molly-container{
    /* width: 768px;
    height: 1024px; */
    width: 100%;
    height: 100%;

    margin: auto;
    position: absolute;
    /* background-color: red; */
    /* transform: scale(0.5); */
    /* overflow: hidden; */
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    overflow: hidden;
    background-color: #5DE8D2;
}

.m-bg{
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
}

.m-pi{
    width: 32%;
    height: auto;
    position: absolute;
    left: 48%;
    top: 17.3%;
    z-index: 5;
}

.m-coin{
    width: 18%;
    height: auto;
    position: absolute;
    left: 53%;
    top: 13%;
    z-index: 3;
    transform-origin: center;
    animation: rotateMe 1s infinite;
}

.m-mo{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    mix-blend-mode: screen;
}

.m-word{
    width: 45%;
    height: auto;
    position: absolute;
    right: 6%;
    top: 5%;
    z-index: 9;
    mix-blend-mode: lighten;
}

.m-title{
    width: 50%;
    height: auto;
    position: absolute;
    right: 7.2%;
    top: 5%;
    z-index: 11;
}

.m-label-body{
    width: 30%;
    height: 30.5%;
    position: absolute;
    left: 8.3%;
    top: 64%;
    z-index: 7;
    overflow: hidden;
    border-radius: 8%;

}

.m-label-mask{
    width: 28%;
    height: 28.6%;
    position: absolute;
    left: 9.4%;
    top: 65%;
    z-index: 8;
    overflow: hidden;
    border-radius: 8%;
}

.m-middle{
    width: 100%;
    height: 100%;
    border-radius: 8%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
}

.m-light{
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    mix-blend-mode: screen;
    animation: moveLight 2s infinite;
    border-radius: 0;
    z-index: 7;
    opacity: 0;
}

.m-light2{
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    mix-blend-mode: screen;
    animation: moveLight 2s infinite 0.5s;
    border-radius: 0;
    z-index: 7;
    opacity: 0;
}

@keyframes moveLight{
    0%{
        opacity: 0;
        transform: translate(-72%, -50%);
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: translate(72%, 50%);
    }
}

@keyframes rotateMe{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.tears{
    position: absolute;
    left: 30%;
    top: 37%;
    z-index: 8;
    width: 5%;
}

.tears img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}

.tear3, .tear4{
    left: -2%;
}

.m-sigle{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
}