html, body{
    margin: 0;
    width: 100%;
    /* height: 100%; */
    /* background-color: #000; */
    /* background-color: #5DE8D2; */

}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width: 768px;
    height: 1024px; */
    width: 100%;
    height: 100%;
}

.molly-container{
    /* width: 768px;
    height: 1024px; */
    width: 100%;
    height: 100%;

    margin: auto;
    position: absolute;
    /* background-color: red; */
    /* transform: scale(0.5); */
    /* overflow: hidden; */
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    overflow: hidden;
    background-color: #FF6E6E;
    /* background-size: cover;
    background-image: url(./images/bg.png); */
}

.m-bg{
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
}

.m-cover{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}


.fish-group{
    position: relative;
    z-index: 5;
    transform: translateX(-60%) translateY(-300px) rotate(10deg);
}

.fish{
    width: 140%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.m-coin{
    width: 18%;
    height: auto;
    position: absolute;
    left: 53%;
    top: 13%;
    z-index: 3;
    transform-origin: center;
    animation: rotateMe 1s infinite;
}

.m-mo{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    mix-blend-mode: screen;
}

.m-word{
    width: 45%;
    height: auto;
    position: absolute;
    left: 6%;
    top: 5%;
    z-index: 9;
    mix-blend-mode: lighten;
}

.m-title{
    width: 1.2%;
    height: auto;
    position: absolute;
    left: 10%;
    bottom: 8%;
    z-index: 11;
}

.m-label-body{
    width: 30%;
    height: 30.5%;
    position: absolute;
    left: 8%;
    top: 10%;
    z-index: 7;
    overflow: hidden;
    border-radius: 8%;

}

.m-label-mask{
    width: 28%;
    height: 28.6%;
    position: absolute;
    left: 9%;
    top: 11%;
    z-index: 8;
    overflow: hidden;
    border-radius: 8%;
}

.m-middle{
    width: 100%;
    height: 100%;
    border-radius: 8%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
}

.m-light{
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    mix-blend-mode: screen;
    animation: moveLight 2s infinite;
    border-radius: 0;
    z-index: 7;
    opacity: 0;
}

.m-light2{
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    mix-blend-mode: screen;
    animation: moveLight 2s infinite 0.5s;
    border-radius: 0;
    z-index: 7;
    opacity: 0;
}

@keyframes moveLight{
    0%{
        opacity: 0;
        transform: translate(-72%, -50%);
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: translate(72%, 50%);
    }
}

@keyframes rotateMe{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.tears{
    position: absolute;
    left: 30%;
    top: 37%;
    z-index: 8;
    width: 5%;
}

.tears img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}

.tear3, .tear4{
    left: -2%;
}

.m-sigle{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
}

.chicken{
    position: absolute;
    left: 30%;
    top: 24%;
    z-index: 5;
    width: 80%;
    filter: blur(0px);
    animation: shakeMe 1s infinite;
}

.chicken.active{
    animation: shakeMe 0.3s infinite;
}


.m-ahh{
    position: absolute;
    right: -1459px;
    top: 30px;
    z-index: 1;
    height: 200px;
    transform-origin: 50% 50%;
    transform: rotate(65deg);
    opacity: 0.5;
}

@keyframes shakeMe{
    0%{
        transform: translateY(0px);
        filter: blur(3px);
    }

    50%{
        transform: translateY(100px);
        filter: blur(0px);
    }

    100%{
        filter: blur(3px);
        transform: translateY(0px);
    }
}